# === DATABASE ===
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
LOG_LEVEL= fatal | error | warn | info | debug | trace

#authentication
TOKEN_SECRET=
PASSWORDLESS_OTP_EXPIRE_IN_SEC=600